<div class="h-full w-full flex flex-col items-center justify-center">
	<app-exclaimation class="h-48 text-gray-400"></app-exclaimation>
	<span class="text-4xl text-gray-700 font-light mb-3">{{componentName}}</span>
	<span class="text-5xl text-gray-600 font-light">Under Construction</span>
</div>