<div class="h-full flex items-center justify-center">
  <div class="p-5 bg-white rounded-lg shadow">
    <div class="flex flex-col items-center mb-5">
      <img src="assets/images/logo_small.png" class="w-24" />
      <span class="text-2xl mt-3">Complex Feed Subsidy System</span>
    </div>
    <form (ngSubmit)="handleSubmit()" #loginForm="ngForm">
      <div class="mb-3">
        <label class="block text-gray-600 mb-2">Username</label>
        <input
          type="text"
          class="block w-full shadow border p-2 rounded-lg"
          name="username"
          [(ngModel)]="username"
        />
      </div>
      <div class="mb-3">
        <label class="block text-gray-600 mb-2">Password</label>
        <input
          type="password"
          class="block w-full shadow border p-2 rounded-lg"
          name="password"
          [(ngModel)]="password"
        />
      </div>
      <input
        type="submit"
        value="Login"
        class="bg-red-500 text-white w-full rounded-lg py-2 px-4 mt-3 cursor-pointer hover:bg-red-400"
      />
    </form>
    <div class="text-blue-600 mt-5 space-x-1">
      <span>New User?</span> <span class="text-xl text-gray-400">/</span> <span>Forgot Password</span>
    </div>
  </div>
</div>
