<div class="bg-header px-4 py-2 flex justify-between">
	<img src="assets/images/logo.png" alt="ADFASA Logo" class="h-24">
	<div class="flex items-end"><span class="text-xl">Complex Feed Subsidy System</span></div>
	<div class="flex items-start">
		<span class="bg-green-800 text-white px-2">AR</span>
		<span class="ml-3">Heartwin Haveluck</span>
	</div>
</div>