<div class="h-full flex flex-col">
  <app-header></app-header>
  <div class="grow flex">
    <div class="h-full">
			<app-sidebar></app-sidebar>
		</div>
    <div class="h-full w-full">
			<router-outlet></router-outlet>
		</div>
  </div>
</div>
