<div class="h-full w-64 bg-sidebar text-white">
  <div *ngFor="let item of items; let itemIndex = index">
    <a
      class="py-2 px-4 border-y border-gray-500 flex justify-between hover:bg-hover"
      [routerLink]="item.path"
      routerLinkActive="bg-selected hover:bg-selected/90"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="!item.subItems"
    >
      <span>{{ item.label }}</span>
    </a>
    <div
      class="py-2 px-4 border-y border-gray-500 flex justify-between hover:bg-hover"
      [routerLink]="item.path"
      routerLinkActive="bg-selected hover:bg-selected/90"
      (click)="toggleMenu(itemIndex)"
      *ngIf="item.subItems"
    >
      <span>{{ item.label }}</span>
      <app-chevron-right
        class="h-6 w-6"
        *ngIf="!item.isOpen"
      ></app-chevron-right>
      <app-chevron-down class="h-6 w-6" *ngIf="item.isOpen"></app-chevron-down>
    </div>
    <div *ngIf="item.subItems && item.isOpen" class="ml-5">
      <div *ngFor="let subItem of item.subItems; let subItemIndex = index">
        <a class="block py-2 px-4" [routerLink]="subItem.path">{{
          subItem.label
        }}</a>
      </div>
    </div>
  </div>
</div>
